<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Shopping List</h2>
        <div class="text-right mb-3">
            <a href="{%url 'add_item'%}" class="btn btn-primary">Add New Item</a>
            {% if user.is_authenticated %}
                <a href="{%url 'logout'%}" class="btn btn-primary">Déconnexion <span> {{user.username}}</span></a>
            {% else %}
                <a href="{%url 'login'%}" class="btn btn-primary">Connexion</a>
            {% endif%}
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.category }}</td>
                    <td><span class="badge badge-success">{{ item.status }}</span></td>
                    <td>
                        <a href="{% url 'edit_item' item.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'del_item' item.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No items available in the list.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
